In [1]:
import sys
import os

In [2]:
import pandas as pd

In [38]:
df = pd.read_csv("station_data.csv", index_col=0, header=0)

df.drop(labels='DATE_TIME', axis=1, inplace=True, errors='ignore')

df_tot = (
    df.groupby(['DAYS', 'STATION_LINE'])
    .sum()
    .reset_index()
    .sort_values(by='TOTAL_TRAFFIC', ascending=False)
    .set_index('DAYS', drop=True)
)

In [50]:
df_tot.loc['Wednesday', :].iloc[:25]

                           STATION_LINE  TOTAL_TRAFFIC
DAYS
Wednesday                NEWARK BM BW 1       771382.0
Wednesday                      103 ST 1       423108.0
Wednesday                    HARRISON 1       297364.0
Wednesday         B'WAY-LAFAYETTE BDFQ6       230829.0
Wednesday       14 ST-UNION SQ 456LNQRW       228900.0
Wednesday                     86 ST 456       226820.0
Wednesday             LEXINGTON AV/63 F       223490.0
Wednesday      34 ST-HERALD SQ BDFMNQRW       221232.0
Wednesday        W 4 ST-WASH SQ ABCDEFM       217234.0
Wednesday   TIMES SQ-42 ST ACENQRS1237W       215705.0
Wednesday                        1 AV L       215351.0
Wednesday      ATL AV-BARCLAY 2345BDNQR       209861.0
Wednesday                 86 ST-2 AVE Q       209360.0
Wednesday                   GRAND ST BD       207856.0
Wednesday         GRD CNTRL-42 ST 4567S       203728.0
Wednesday  42 ST-PORT AUTH ACENQRS1237W       200488.0
Wednesday         34 ST-PENN STA 123ACE       196438.0
Wednesday                     YORK ST F       196142.0
Wednesday                     8 AV ACEL       177341.0
Wednesday                 5 AV/53 ST EM       176110.0
Wednesday             MYRTLE-WYCKOFF LM       173758.0
Wednesday                 MYRTLE AV JMZ       169556.0
Wednesday                    125 ST 456       167683.0
Wednesday                     72 ST 123       162181.0
Wednesday                      167 ST 4       160358.0