# Yelp DB To CSV

Loading the database is time consuming, save the DF's int CSV files.

### Sources

Yelp [dataset](https://www.yelp.com/dataset/documentation/sql)

Data was loaded into a AWS MySQL database (the SQL dump provided is in MySQL specific format, with \`\` name delimiters and other MySQL specific syntax, unsuitable for Postgres).

### Info

**Cities w/ most businesses:**

```
    
select city,count(*) as business_cnt from business 
  group by city having business_cnt > 1000 
  order by business_cnt desc;
    
+-----------------+--------------+
| city            | business_cnt |
+-----------------+--------------+
| Las Vegas       |        26809 |
| Phoenix         |        17213 |
| Toronto         |        17211 |
| Charlotte       |         8554 |
| Scottsdale      |         8228 |
| Pittsburgh      |         6355 |
| Montréal        |         5973 |
| Mesa            |         5872 |
| Henderson       |         4465 |
| Tempe           |         4263 |
| Chandler        |         3994 |
| Edinburgh       |         3868 |
| Cleveland       |         3322 |
| Madison         |         3213 |
| Glendale        |         3206 |
| Gilbert         |         3128 |
| Mississauga     |         2726 |
| Stuttgart       |         2000 |
| Peoria          |         1707 |
| Markham         |         1564 |
| North Las Vegas |         1393 |
| Champaign       |         1195 |
| Scarborough     |         1095 |
| North York      |         1094 |
| Surprise        |         1018 |
+-----------------+--------------+
```

**Cities with most reviews:**

```
select city,sum(review_count) as review_cnt from business    
  group by city 
  having review_cnt > 10000 
  order by review_cnt desc;

+-----------------+------------+
| city            | review_cnt |
+-----------------+------------+
| Las Vegas       |    1605343 |
| Phoenix         |     576709 |
| Toronto         |     430985 |
| Scottsdale      |     308529 |
| Charlotte       |     237118 |
| Pittsburgh      |     179471 |
| Henderson       |     166884 |
| Tempe           |     162772 |
| Mesa            |     134156 |
| Montréal        |     128285 |
| Chandler        |     122343 |
| Gilbert         |      97204 |
| Cleveland       |      92280 |
| Madison         |      86614 |
| Glendale        |      76293 |
| Edinburgh       |      48838 |
| Mississauga     |      43147 |
| Peoria          |      42584 |
| Markham         |      38840 |
| North Las Vegas |      37928 |
| Champaign       |      26260 |
| Surprise        |      25740 |
| Stuttgart       |      25537 |
| Goodyear        |      21508 |
| Richmond Hill   |      18329 |
| Avondale        |      16622 |
| North York      |      16292 |
| Scarborough     |      15325 |
| Lakewood        |      14687 |
| Concord         |      13658 |
| Vaughan         |      11947 |
| Huntersville    |      11742 |
| Matthews        |      11633 |
| Etobicoke       |      10029 |
+-----------------+------------+
```

**Decision:** The focus will be on one or more of the five top cities: Las Vegas, Phoenix, Toronto, Scottsdale, Charlotte.

In [1]:
YELP_TOP_CITIES = ['Las Vegas', 'Phoenix', 'Toronto', 'Scottsdale', 'Charlotte']
CITIES = ['Las Vegas']
CATEGORIES = ['Restaurants']
REVIEW_START_DATE = '2015-01-01'
DATA_DIR = 'data'

In [2]:
import sys
import os
import time
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
import pprint

In [3]:
import pandas as pd
import numpy as np

In [4]:
from sqlalchemy import create_engine
cnx = create_engine('mysql+pymysql://yelp:p!ey2018@or-ml-mysql-xlarge.cmldnzmxjfn1.us-west-2.rds.amazonaws.com:3306/yelp_db')

In [5]:
quoted_city_list = ','.join(["'{}'".format(c) for c in CITIES])
quoted_category_list = ','.join(["'{}'".format(c) for c in CATEGORIES])

In [6]:
%%time
b_query = '''
    SELECT
        id as business_id, 
        name, 
        neighborhood, 
        address, 
        city, 
        postal_code,
        latitude, 
        longitude, 
        stars, 
        review_count, 
        is_open
    FROM business
    WHERE city IN ({cities})
    AND id IN (SELECT business_id FROM category WHERE category IN ({categories}))
    AND id IN (SELECT business_id FROM review WHERE date >= '{start_date}')
    ;
'''.format(cities=quoted_city_list,
           categories=quoted_category_list,
           start_date=REVIEW_START_DATE)
yelp_b_raw_df = pd.read_sql_query(b_query, cnx)

CPU times: user 128 ms, sys: 4 ms, total: 132 ms
Wall time: 13.7 s

In [7]:
%%time
a_query = '''
    SELECT
        a.business_id,
        a.name as attr_name,
        a.value as attr_value,
        c.category
    FROM (
        SELECT
            business_id,
            name, 
            value
        FROM attribute
        WHERE business_id IN (SELECT id from business WHERE city IN ({cities}))
        AND business_id IN (SELECT business_id FROM review WHERE date >= '{start_date}')
    ) AS a
    JOIN (
        SELECT
            business_id
        FROM category WHERE category IN ({categories})
    ) AS cr ON cr.business_id = a.business_id
    JOIN (
        SELECT
            business_id,
            category
        FROM category
    ) as c ON c.business_id = cr.business_id
    ;
'''.format(cities=quoted_city_list, 
           categories=quoted_category_list,
           start_date=REVIEW_START_DATE)
yelp_a_raw_df = pd.read_sql_query(a_query, cnx)

CPU times: user 4.91 s, sys: 280 ms, total: 5.19 s
Wall time: 23.9 s

In [8]:
%%time
r_query = '''
    SELECT
        r.business_id,
        r.user_id,
        r.stars as review_stars,
        r.date as review_date
    FROM (
        SELECT
            business_id,
            user_id, 
            stars,
            date
        FROM review
        WHERE date >= '{start_date}'
        AND business_id IN (SELECT id from business WHERE city IN ({cities}))
    ) AS r 
    JOIN (
        SELECT
            business_id
        FROM category WHERE category IN ({categories})
    ) AS c ON c.business_id = r.business_id
    ;
'''.format(cities=quoted_city_list, 
           categories=quoted_category_list,
           start_date=REVIEW_START_DATE)
yelp_r_raw_df = pd.read_sql_query(r_query, cnx)

CPU times: user 9.17 s, sys: 460 ms, total: 9.63 s
Wall time: 24.5 s

In [9]:
%%time
for df, name in [
    (yelp_b_raw_df, 'yelp_b_raw'),
    (yelp_a_raw_df, 'yelp_a_raw'),
    (yelp_r_raw_df, 'yelp_r_raw'),    
]:
    f_path = os.path.join(DATA_DIR, '{}.csv.gz'.format(name))
    df.to_csv(f_path, index=False, compression='gzip')

CPU times: user 7.76 s, sys: 32 ms, total: 7.79 s
Wall time: 7.81 s