```
show tables;
+-------------------+
| Tables_in_yelp_db |
+-------------------+
| attribute         |
| business          |
| category          |
| checkin           |
| elite_years       |
| friend            |
| hours             |
| photo             |
| review            |
| tip               |
| user              |
+-------------------+
```

```
show columns from attribute;
+-------------+--------------+------+-----+---------+----------------+
| Field       | Type         | Null | Key | Default | Extra          |
+-------------+--------------+------+-----+---------+----------------+
| id          | int(11)      | NO   | PRI | NULL    | auto_increment |
| business_id | varchar(22)  | NO   |     | NULL    |                |
| name        | varchar(255) | YES  |     | NULL    |                |
| value       | mediumtext   | YES  |     | NULL    |                |
+-------------+--------------+------+-----+---------+----------------+
```

```
show columns from business;
+--------------+--------------+------+-----+---------+-------+
| Field        | Type         | Null | Key | Default | Extra |
+--------------+--------------+------+-----+---------+-------+
| id           | varchar(22)  | NO   | PRI | NULL    |       |
| name         | varchar(255) | YES  |     | NULL    |       |
| neighborhood | varchar(255) | YES  |     | NULL    |       |
| address      | varchar(255) | YES  |     | NULL    |       |
| city         | varchar(255) | YES  |     | NULL    |       |
| state        | varchar(255) | YES  |     | NULL    |       |
| postal_code  | varchar(255) | YES  |     | NULL    |       |
| latitude     | float        | YES  |     | NULL    |       |
| longitude    | float        | YES  |     | NULL    |       |
| stars        | float        | YES  |     | NULL    |       |
| review_count | int(11)      | YES  |     | NULL    |       |
| is_open      | tinyint(1)   | YES  |     | NULL    |       |
+--------------+--------------+------+-----+---------+-------+
```

```
show columns from category;
+-------------+--------------+------+-----+---------+----------------+
| Field       | Type         | Null | Key | Default | Extra          |
+-------------+--------------+------+-----+---------+----------------+
| id          | int(11)      | NO   | PRI | NULL    | auto_increment |
| business_id | varchar(22)  | NO   |     | NULL    |                |
| category    | varchar(255) | YES  |     | NULL    |                |
+-------------+--------------+------+-----+---------+----------------+

```

```
show columns from checkin;
+-------------+--------------+------+-----+---------+----------------+
| Field       | Type         | Null | Key | Default | Extra          |
+-------------+--------------+------+-----+---------+----------------+
| id          | int(11)      | NO   | PRI | NULL    | auto_increment |
| business_id | varchar(22)  | NO   |     | NULL    |                |
| date        | varchar(255) | YES  |     | NULL    |                |
| count       | int(11)      | YES  |     | NULL    |                |
+-------------+--------------+------+-----+---------+----------------+
```

```
show columns from elite_years;
+---------+-------------+------+-----+---------+----------------+
| Field   | Type        | Null | Key | Default | Extra          |
+---------+-------------+------+-----+---------+----------------+
| id      | int(11)     | NO   | PRI | NULL    | auto_increment |
| user_id | varchar(22) | NO   |     | NULL    |                |
| year    | char(4)     | NO   |     | NULL    |                |
+---------+-------------+------+-----+---------+----------------+
```

```
show columns from friend;
+-----------+-------------+------+-----+---------+----------------+
| Field     | Type        | Null | Key | Default | Extra          |
+-----------+-------------+------+-----+---------+----------------+
| id        | int(11)     | NO   | PRI | NULL    | auto_increment |
| user_id   | varchar(22) | NO   |     | NULL    |                |
| friend_id | varchar(22) | NO   |     | NULL    |                |
+-----------+-------------+------+-----+---------+----------------+
```

```
show columns from hours;
+-------------+--------------+------+-----+---------+----------------+
| Field       | Type         | Null | Key | Default | Extra          |
+-------------+--------------+------+-----+---------+----------------+
| id          | int(11)      | NO   | PRI | NULL    | auto_increment |
| business_id | varchar(22)  | NO   |     | NULL    |                |
| hours       | varchar(255) | YES  |     | NULL    |                |
+-------------+--------------+------+-----+---------+----------------+
```

```
show columns from photo;
+-------------+--------------+------+-----+---------+-------+
| Field       | Type         | Null | Key | Default | Extra |
+-------------+--------------+------+-----+---------+-------+
| id          | varchar(22)  | NO   | PRI | NULL    |       |
| business_id | varchar(22)  | NO   |     | NULL    |       |
| caption     | varchar(255) | YES  |     | NULL    |       |
| label       | varchar(255) | YES  |     | NULL    |       |
+-------------+--------------+------+-----+---------+-------+
```

```
show columns from review;
+-------------+-------------+------+-----+---------+-------+
| Field       | Type        | Null | Key | Default | Extra |
+-------------+-------------+------+-----+---------+-------+
| id          | varchar(22) | NO   | PRI | NULL    |       |
| business_id | varchar(22) | NO   |     | NULL    |       |
| user_id     | varchar(22) | NO   |     | NULL    |       |
| stars       | int(11)     | YES  |     | NULL    |       |
| date        | datetime    | YES  |     | NULL    |       |
| text        | mediumtext  | YES  |     | NULL    |       |
| useful      | int(11)     | YES  |     | NULL    |       |
| funny       | int(11)     | YES  |     | NULL    |       |
| cool        | int(11)     | YES  |     | NULL    |       |
+-------------+-------------+------+-----+---------+-------+
```

```
show columns from tip;
+-------------+-------------+------+-----+---------+----------------+
| Field       | Type        | Null | Key | Default | Extra          |
+-------------+-------------+------+-----+---------+----------------+
| id          | int(11)     | NO   | PRI | NULL    | auto_increment |
| user_id     | varchar(22) | NO   |     | NULL    |                |
| business_id | varchar(22) | NO   |     | NULL    |                |
| text        | mediumtext  | YES  |     | NULL    |                |
| date        | datetime    | YES  |     | NULL    |                |
| likes       | int(11)     | YES  |     | NULL    |                |
+-------------+-------------+------+-----+---------+----------------+

```

```
show columns from user;
+--------------------+--------------+------+-----+---------+-------+
| Field              | Type         | Null | Key | Default | Extra |
+--------------------+--------------+------+-----+---------+-------+
| id                 | varchar(22)  | NO   | PRI | NULL    |       |
| name               | varchar(255) | YES  |     | NULL    |       |
| review_count       | int(11)      | YES  |     | NULL    |       |
| yelping_since      | datetime     | YES  |     | NULL    |       |
| useful             | int(11)      | YES  |     | NULL    |       |
| funny              | int(11)      | YES  |     | NULL    |       |
| cool               | int(11)      | YES  |     | NULL    |       |
| fans               | int(11)      | YES  |     | NULL    |       |
| average_stars      | float        | YES  |     | NULL    |       |
| compliment_hot     | int(11)      | YES  |     | NULL    |       |
| compliment_more    | int(11)      | YES  |     | NULL    |       |
| compliment_profile | int(11)      | YES  |     | NULL    |       |
| compliment_cute    | int(11)      | YES  |     | NULL    |       |
| compliment_list    | int(11)      | YES  |     | NULL    |       |
| compliment_note    | int(11)      | YES  |     | NULL    |       |
| compliment_plain   | int(11)      | YES  |     | NULL    |       |
| compliment_cool    | int(11)      | YES  |     | NULL    |       |
| compliment_funny   | int(11)      | YES  |     | NULL    |       |
| compliment_writer  | int(11)      | YES  |     | NULL    |       |
| compliment_photos  | int(11)      | YES  |     | NULL    |       |
+--------------------+--------------+------+-----+---------+-------+
```